<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layouts/defaultTemplate">
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<h2>Nice Job!</h2><br><br>
			</div>
		</div>
		<div class="container" style="padding-top: 15px;">
			<div class="row">
				<h4>Your action has been completed successfully!</h4>
				<a href="/">Click here to return to the home screen</a>
			</div>
		</div>
	</div>
</body>
</html>